# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

+ Adding additional reference for updated Python version: https://docs.python.org/3.6/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print ('* ' + element.find('name').text + ':', end = " "),
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )
import numpy as np

### Exercise 1: 10 Countries with lowest infant mortality

#### Attempted Steps:
1. Extract a list of tuples, each containing a country and its infant mortality rate
    Note --> those with no infant mortality rate are recorded as 'NaN'
2. Merge lists into a pandas data frame and remove missing data
3. sort the dataframe and print the 10 countries with the lowest infant mortality

In [6]:
data = document.getroot() # transform tree into readable data

# Step 1: extract data as a list of tuples

countries = []
for country in data.findall('country'):                    # iterate through the countries in the data, bulding tuples
    name = country.find('name').text                       # add the country name to the tuple
    try:                                                   # check for errors since only some countries have an infant mortality
        mortality = country.find('infant_mortality').text  # if no error, add the infant mortality
    except AttributeError:                                 # if the data is missing, an AttributeError is thrown
        mortality = np.nan                                 # if an error is thrown, then missing data is entered into the tuple

    ob = ( name, mortality )
    countries.append(ob)                                   # append tuple to the list of countries

In [7]:
# Step 2: generate pandas data frame

import pandas as pd

labels = ['country', 'infant_mortality']                  # generate column names
mortality_data = pd.DataFrame.from_records(countries, columns = labels).dropna() #generate data frame while removing NaN values

mortality_data.head(10)

           country infant_mortality
0          Albania            13.19
1           Greece             4.78
2        Macedonia              7.9
3           Serbia             6.16
6          Andorra             3.69
7           France             3.31
8            Spain             3.33
9          Austria             4.16
10  Czech Republic             2.63
11         Germany             3.46

In [8]:
# Step 3.1: Confirm proper data structures

print(mortality_data.dtypes)                                                           # demonstrate type of data to be sorted
mortality_data['infant_mortality'] = pd.to_numeric(mortality_data['infant_mortality']) # coerce data to numeric data
print(mortality_data.dtypes)                                                           # confirm correct data type

country             object
infant_mortality    object
dtype: object
country              object
infant_mortality    float64
dtype: object

In [9]:
# Step 3.2: Print output
mortality_data.sort_values(by = 'infant_mortality').head(10)

            country  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

### Exercise 2: 10 cities with the largest population

#### Attempted Steps:
1. Make a list of tuples, where each tuple is the name of the city, most recent population, year of estimate/census
2. Use the list to create a PD data frame and ensure that the data are proper numeric values
3. Print the 10 cities with the largest populations

In [63]:
# Step 1: make the list of city_name-population tuples

cities = []                                              # empty list of city tuples, to be filled

for country in data.findall('country'):                  # iterate list of all countries
    for city in country.iter('city'):                    # iterate list of all cities in the country
        
        city_name = city.find('name').text               # record the city name
        last_year = 0                                    # declare variable for tracking the last year tested
        for pop_count in city.findall('population'):     # make a list of all population measurements/estimates for a city
            year = int(pop_count.attrib['year'])         # record the year of the population measurement/estimate
            if (year >= last_year):                      # test if current year or more recent than last year
                pop = int(pop_count.text)                # if more recent, update population measurement/estimate
                last_year = year                         # and update last_year to current year
        
        ob = (city_name, pop, year)                      # make 3-item tuple with city name, population, and year of population
        cities.append(ob)                                # append tuple to the list of cities using the most recent population

In [64]:
# Step 2.1: Use the list to create a PD data frame

labels = ['city', 'population', 'year']
city_pops = pd.DataFrame.from_records(cities, columns = labels)

city_pops.head(10)

       city  population  year
0    Tirana      418495  2011
1   Shkodër       77075  2011
2    Durrës      113249  2011
3     Vlorë       79513  2011
4   Elbasan       78703  2011
5     Korçë       51152  2011
6  Komotini       51152  2011
7    Kavala       58790  2011
8    Athina      664046  2011
9  Peiraias      163688  2011

In [65]:
# Step 2.2: ensure that the data are proper numeric values

# Step 2.2.1: test data types
print(city_pops.dtypes)

city          object
population     int64
year           int64
dtype: object

In [68]:
# check passed; moving to step 3

# Step 3: Sort and print list of top 10 cities by most recent population
city_pops.sort_values(by = 'population', ascending = False).head(10)

           city  population  year
1341   Shanghai    22315474  2010
771    Istanbul    13710512  2012
1527     Mumbai    12442373  2011
479      Moskva    11979529  2013
1340    Beijing    11716620  2010
2810  São Paulo    11152344  2010
1342    Tianjin    11090314  2010
1064  Guangzhou    11071424  2010
1582      Delhi    11034555  2011
1067   Shenzhen    10358381  2010